@import "sass/vars";
@import "sass/functions-mixins";
@import "sass/utls";

body {
  background-color: $bg;
}

.main-nav-bar {
  margin: 10px 30px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  @include flex($col: false, $v-center: true, $h-center: false);

  .banner {
    img {
      margin-right: 20px;
      width: 200px;
      @include shake;
    }
    .text-banner {
      display: none;
      font-size: 22px;
      font-weight: bold;
      transition: all 0.3s;
      @include shake;
      span {
        width: 25px;
        height: 25px;
        font-weight: bolder;
        color: #0f5ea7;
        font-family: "Josefin Sans", sans-serif;
        padding: 4px;
        margin: 4px;
      }
      .search-icon {
        width: 25px;
        height: 25px;
        background-color: $btn-bg;
        color: white;
        font-weight: bold;
        border-radius: 100%;
        padding: 2px;
      }
    }
  }
  .menu {
    display: none;
    .btn-menu {
      display: flex;
      @include flex($col: false, $v-center: true, $h-center: true);
      @include btn($btn-bg, white, 30px, 30px);
      font-size: 20px;
    }
  }

  .right,
  .left {
    @include flex($col: false, $v-center: true, $h-center: false);
  }
  .right {
    @include flex($col: false, $v-center: true, $h-center: true);
    flex: 1;

    img {
      width: 30px;
      border-radius: 100%;
      border: 2px $success solid;
    }
    ul {
      width: 60%;
      justify-content: space-evenly;
      li {
        a {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          background-color: $input-bg;
          color: $btn-bg;

          border-radius: 100%;
        }
      }
    }
  }
  .left {
    flex: 3;

    ul {
      li {
        @include hover-animation-li();
      }
    }
  }
  ul {
    @include flex($col: false, $v-center: true, $h-center: false);
    list-style: none;
    li {
      margin: 10px;
    }
  }
  .user-menu {
    display: none;
  }
  .user-menu-active {
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include flex($col: true, $v-center: false, $h-center: false);
    @include shake;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 85px;
    width: 200px;
    background-color: $btn-bg;
    animation-name: expandNav;
    animation-duration: 0.5s;

    a {
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      border-radius: 5px;
      transition: 0.4s;
      animation-name: opAnimation;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      &:hover {
        background-color: white;
        color: $btn-bg;
      }

      @keyframes opAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    @keyframes expandNav {
      from {
        height: 0px;
      }
      to {
        height: 150px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .main-nav-bar {
    .banner {
      img {
        display: none;
      }
      .text-banner {
        @include flex($col: false, $v-center: true, $h-center: false);
      }
    }
  }
  .home {
    flex-direction: column;
    .left {
      h1 {
        margin: 0.3em !important;
      }
      .row {
        display: flex;
        justify-content: space-between;
        .search-box {
          display: flex !important;
        }
        .col {
          margin: 0 0.5em !important;
        }
      }
    }
    .right {
      .search-row {
        display: none !important;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .main-nav-bar {
    justify-content: space-between;
    transition: height 0.5s ease-in-out;
    animation-name: expandNav1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes expandNav1 {
      from {
        height: 80px;
      }
      to {
        height: 70px;
      }
    }
    .banner {
      img {
        display: flex;
        margin-right: 20px;
        width: 200px;
        @include shake;
      }
      .text-banner {
        display: none !important;
      }
    }
    .menu {
      display: flex;
    }
    .left {
      display: none;
    }
    .right {
      display: none;
    }
  }

  .main-nav-active {
    margin: 10px 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    flex-direction: row;
    transition: height 0.5s ease-in-out;
    animation-name: expandNavAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes expandNavAnimation {
      from {
        height: 70px;
      }
      to {
        height: 200px;
      }
    }
    .user-menu {
      display: none;
    }
    .user-menu-active {
      @include flex($col: true, $v-center: false, $h-center: false);
      @include shake;
      justify-content: space-between;
      margin: 10px 30px;
      padding: 10px;
      border-radius: 10px;
      position: absolute;
      right: 0px;
      top: 85px;
      width: 200px;
      background-color: $btn-bg;
      animation-name: expandNav;
      animation-duration: 0.5s;

      a {
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
        border-radius: 5px;
        transition: 0.4s;
        animation-name: opAnimation;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        &:hover {
          background-color: white;
          color: $btn-bg;
        }

        @keyframes opAnimation {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
      @keyframes expandNav {
        from {
          opacity: 0;
          height: 0px;
        }
        to {
          opacity: 1;
          height: 150px;
        }
      }
    }
    .banner {
      img {
        display: flex;
        margin-right: 20px;
        width: 200px;
        @include shake;
      }
      .text-banner {
        display: none !important;
      }
    }
    .menu {
      position: absolute;
      right: 21px;
      margin: 20px 20px;
      top: 1px;
      .btn-menu {
        display: flex;
        @include flex($col: false, $v-center: true, $h-center: true);
        @include btn($btn-bg, white, 30px, 30px);
        font-size: 20px;
      }
    }

    .left {
      @include flex($col: false, $v-center: true, $h-center: true);
      ul {
        li {
          @include hover-animation-li();
        }
      }
    }
    .right {
      @include flex($col: false, $v-center: true, $h-center: true);
      img {
        width: 30px;
        border-radius: 100%;
        border: 2px $success solid;
      }
      ul {
        width: 60%;
        justify-content: space-evenly;
        li {
          a {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color: $input-bg;
            color: $btn-bg;

            border-radius: 100%;
          }
        }
      }
    }
    ul {
      @include flex($col: false, $v-center: true, $h-center: false);
      list-style: none;
      li {
        margin: 10px;
        a,
        img {
          animation-name: expandLiAnimation;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          @keyframes expandLiAnimation {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main-nav-active,
  .main-nav-bar,
  .container {
    margin: 10px 10px !important;
  }
  .user-menu-active {
    @include flex($col: true, $v-center: false, $h-center: false);
    @include shake;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 85px;
    width: 200px;
    background-color: $btn-bg;
    animation-name: expandNavmenu !important;
    animation-duration: 0.5s;

    a {
      color: white;
      font-size: 16px !important;
    }
    @keyframes expandNavmenu {
      from {
        opacity: 0;
        height: 0px;
      }
      to {
        opacity: 1;
        height: max-content;
      }
    }
  }
  .menu {
    position: absolute;
    right: 21px;
    margin: 20px 10px;
    top: 1px;
    .btn-menu {
      display: flex;
      @include flex($col: false, $v-center: true, $h-center: true);
      @include btn($btn-bg, white, 30px, 30px);
      font-size: 20px;
    }
  }
  .main-nav-active {
    transition: height 0.5s ease-in-out;
    animation-name: expandNav;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    a {
      font-size: 14px;
    }
  }
  .main-nav-bar {
    transition: height 0.5s ease-in-out;
    animation-name: expandNav1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes expandNav1 {
      from {
        height: 80px;
      }
      to {
        height: 70px;
      }
    }
  }
  .home {
    flex-direction: column;
    .left {
      h1 {
        margin: 0.3em !important;
      }
      .row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .search-box {
          display: flex !important;
        }
        .col {
          margin: 0 0.5em !important;
        }
      }
    }
    .right {
      .search-row {
        display: none !important;
      }
    }
  }
}
.home {
  @include flex($col: false, $v-center: false, $h-center: false);
  border-radius: 10px;

  .scroll-bottom,
  .scroll-top {
    position: fixed;
    right: 0;
    z-index: 5;

    button {
      background-color: transparent;
      animation: scroll-btn-animation 0.3s ease-in;
      transition: 0.3s;
      &:hover {
        transform: scale(1.09);
      }
      @keyframes scroll-btn-animation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    .scroll-icon {
      @include btn($btn-bg, white, auto, auto);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 5px;
      font-size: 20px;
    }
  }
  .scroll-top {
    bottom: 0;
  }
  .scroll-bottom {
    top: 3em;
  }

  .left,
  .right {
    margin: 2em;
    border-radius: 20px;
  }
  .left {
    flex: 1;
    background-color: white;
    padding: 20px;
    height: max-content;
    h1 {
      margin: 1em;
    }
    .row {
      .search-box {
        display: none;
      }
      .col {
        margin-top: 2em;
        h4 {
          margin: 1em;
        }
        .custom-select {
          width: 250px;
          .options {
            position: relative;
            top: auto;
            margin-top: 1em;
            animation: select-animation 0.2s ease-in;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
            &::-webkit-scrollbar-track {
              box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
              background-color: white;
            }

            &::-webkit-scrollbar {
              width: 0.8em;
              background-color: #ff2727;
            }

            &::-webkit-scrollbar-thumb {
              box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
              background-color: mix($btn-bg, black, 60%);
              border-radius: 3px;
              padding: 10px;
              &:hover {
                background-color: mix($btn-bg, black, 20%);
              }
            }
            li {
              font-size: 14px;
            }
            @keyframes select-animation {
              from {
                opacity: 0;
                height: 0;
              }
              to {
                opacity: 1;
                height: 200px;
              }
            }
          }
          .active {
            animation: select-animation-revers 0.2s ease-in;

            @keyframes select-animation-revers {
              from {
                opacity: 1;
                height: 200px;
              }
              to {
                opacity: 0;
                height: 0;
              }
            }
          }
        }
      }
    }
    .form {
      width: 100%;
      @include flex($col: false, $v-center: true, $h-center: true);
      input {
        @include input;
      }
      button {
        @include btn($btn-bg, white, auto, auto);
        padding: 15px;
      }
    }
  }
  .right {
    flex: 3;
    .row {
      @include flex($col: true, $v-center: true, $h-center: false);
      border-radius: 20px;
      background-color: white;
      padding: 10px;
      margin-bottom: 3em;
      .col {
        width: 100%;
        @include flex($col: false, $v-center: true, $h-center: false);
      }
      .search {
        width: 100%;
        @include flex($col: false, $v-center: true, $h-center: false);
        justify-content: space-between;
      }
      .search-box {
        width: 100%;
        @include flex($col: false, $v-center: true, $h-center: false);
        margin-top: 30px;
        .form {
          width: 100%;
          @include flex($col: false, $v-center: true, $h-center: true);
          input {
            @include input;
          }
          button {
            @include btn($btn-bg, white, auto, auto);
            padding: 15px;
          }
        }
      }
      .job-result {
        justify-content: center;
        h4 {
          @include input;
          text-align: center;
          padding: 10px;
          margin: 10px;
        }
      }
    }
    h1 {
      margin: 1em;
    }
    .job-box {
      .sub-row {
        width: 100%;
        @include flex($col: false, $v-center: false, $h-center: true);

        .col {
          width: 100%;
          flex: 1;
          img {
            width: 100px;
            border-radius: 100%;
          }
          &.user-data {
            flex: 3;
            div {
              @include flex($col: true, $v-center: false, $h-center: true);
              margin: 20px;
            }
            span {
              margin: 5px;
              color: rgba(0, 0, 0, 0.486);
            }
            h3 {
              margin: 5px;
            }
          }
          &.date {
            margin: 20px;
            flex: 1;
            justify-content: center;
          }
          &.like {
            margin: 20px;
            justify-content: end;
            margin: 10px;
            font-size: 40px;
            .like-btn {
              font-size: 40px;
              @include btn-nbg($btn-bg);
            }
          }
        }
      }
      .job-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
        width: 90%;
        a {
          @include btn($btn-bg, white, 50%, auto);
          @include flex($col: false, $v-center: true, $h-center: true);
          padding: 10px;
          margin-top: 5em;
        }
      }
      .key-words {
        width: 100%;
        @include flex($col: false, $v-center: true, $h-center: true);
        flex-wrap: wrap;
        margin: 4em 0;
        padding: 10px;
        span {
          @include flex($col: false, $v-center: true, $h-center: true);
          @include btn($input-bg, rgb(0, 0, 0), max-content, auto);
          padding: 15px;
          margin: 1em;
        }
      }
    }
    .pagination {
      ul {
        list-style: none;
        @include flex($col: false, $v-center: true, $h-center: false);
        li {
          margin: 4px;

          button {
            @include btn($btn-bg, white, auto, auto);
            padding: 15px;
          }
        }
        .active {
          button {
            @include btn($success, white, auto, auto);
            padding: 15px;
          }
        }
      }
    }
  }
}

.job-post {
  background-color: white;
  @include flex($col: true, $v-center: false, $h-center: false);
  border-radius: 10px;
  margin: 2em;
  padding: 10px;

  .sub-row {
    width: 100%;
    @include flex($col: false, $v-center: false, $h-center: true);

    .col {
      width: 100%;
      flex: 1;
      img {
        width: 100px;
        border-radius: 100%;
        margin: 1em;
      }
      &.job-data {
        flex: 1;
        margin: 1em;
      }
      &.date {
        margin: 20px;
        flex: 5;
        justify-content: center;
        h3{
          font-size: 25px;
          margin: 1em;
        }
        .sub-row{
          justify-content: space-between;
          span {
            @include flex($col: false, $v-center: true, $h-center: true);
            @include btn($input-bg, rgb(0, 0, 0), max-content, auto);
            padding: 15px;
            margin: 1em;
          }
        }
      }
      &.like {
        margin: 1em;
        display: flex;
        justify-content: end;
        
        font-size: 40px;
        .like-btn {
          font-size: 40px;
          @include btn-nbg($btn-bg);
        }
      }
    }
  }
  .job-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    
    a {
      @include btn($btn-bg, white, 40%, auto);
      @include flex($col: false, $v-center: true, $h-center: true);
      padding: 10px;
      margin-top: 5em;
    }
    span{
      width: 70%;
    }
    .sub-row{
      width: 70%;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 2em;
      span {
        @include flex($col: false, $v-center: true, $h-center: true);
        @include btn($input-bg, rgb(0, 0, 0), 200px, auto);
        padding: 15px;
        margin: 1em;
      }
    }
  }
  .key-words {
    width: 100%;
    @include flex($col: true, $v-center: true, $h-center: false);
    
    margin: 4em 0;
    padding: 10px;
    .col-key-words
    {
      @include flex($col: false, $v-center: false, $h-center: false);
      span {
        @include flex($col: false, $v-center: true, $h-center: true);
        @include btn($input-bg, rgb(0, 0, 0), 200px, auto);
        padding: 15px;
        margin: 1em;
      }
    }
    
   
  }
}

.main-footer {
  background-color: white;
  @include flex($col: true, $v-center: true, $h-center: true);
  a {
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: $btn-bg;
    }
  }
  padding: 10px;
  .top,
  .middel,
  .bottom {
    margin: 30px 10px;
  }
  .top {
    @include flex($col: false, $v-center: true, $h-center: true);
    img {
      width: 30%;
    }
  }
  .middel {
    width: 50%;

    ul {
      list-style: none;
      @include flex($col: false, $v-center: true, $h-center: false);
      justify-content: space-evenly;
    }
  }
  .bottom {
    width: 100%;
    @include flex($col: false, $v-center: true, $h-center: false);
    justify-content: space-between;
    .col {
      @include flex($col: false, $v-center: true, $h-center: false);
      justify-content: space-evenly;
    }
    .footer-icon {
      color: $btn-bg;
      font-size: 40px;
    }
  }
}
