@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
* a {
  color: black;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
* a {
  color: black;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
* a {
  color: black;
}

.custom-select {
  position: relative;
  width: 200px;
  border-radius: 10px;
}
.custom-select .select-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FC6E5E;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.custom-select .select-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #FFF1EF;
}
.custom-select .select-input .arrow-down {
  margin-left: auto;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.custom-select .options {
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #FC6E5E;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.custom-select .options li {
  margin: 6px;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-select .options li:hover {
  background-color: white;
  color: #FC6E5E;
}
.custom-select .options li.selected {
  background-color: white;
  color: #FC6E5E;
}

body {
  background-color: #FFFAFA;
}

.main-nav-bar {
  margin: 10px 30px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.main-nav-bar .banner img {
  margin-right: 20px;
  width: 200px;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.main-nav-bar .banner .text-banner {
  display: none;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.3s;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.main-nav-bar .banner .text-banner span {
  width: 25px;
  height: 25px;
  font-weight: bolder;
  color: #0f5ea7;
  font-family: "Josefin Sans", sans-serif;
  padding: 4px;
  margin: 4px;
}
.main-nav-bar .banner .text-banner .search-icon {
  width: 25px;
  height: 25px;
  background-color: #FC6E5E;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  padding: 2px;
}
.main-nav-bar .menu {
  display: none;
}
.main-nav-bar .menu .btn-menu {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #FC6E5E;
  color: white;
  border-radius: 10px;
  border: none;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
  transition: 0.3s;
  font-size: 20px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.main-nav-bar .menu .btn-menu:hover {
  background-color: #e36355;
  color: white;
}
.main-nav-bar .right,
.main-nav-bar .left {
  display: flex;
  align-items: center;
}
.main-nav-bar .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.main-nav-bar .right img {
  width: 30px;
  border-radius: 100%;
  border: 2px #00FF85 solid;
}
.main-nav-bar .right ul {
  width: 60%;
  justify-content: space-evenly;
}
.main-nav-bar .right ul li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #FFF1EF;
  color: #FC6E5E;
  border-radius: 100%;
}
.main-nav-bar .left {
  flex: 3;
}
.main-nav-bar .left ul li {
  border-bottom: solid 1px transparent;
  transition: border-bottom 0.4s ease-in-out;
}
.main-nav-bar .left ul li:hover {
  transform: scale(1.03);
}
.main-nav-bar .left ul li:hover a {
  color: #FC6E5E;
  padding-bottom: 4px;
}
.main-nav-bar .left ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FC6E5E;
  transition: width 0.3s;
}
.main-nav-bar .left ul li a:hover::after {
  width: 100%;
}
.main-nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.main-nav-bar ul li {
  margin: 10px;
}
.main-nav-bar .user-menu {
  display: none;
}
.main-nav-bar .user-menu-active {
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  top: 85px;
  width: 200px;
  background-color: #FC6E5E;
  animation-name: expandNav;
  animation-duration: 0.5s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.main-nav-bar .user-menu-active a {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s;
  animation-name: opAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.main-nav-bar .user-menu-active a:hover {
  background-color: white;
  color: #FC6E5E;
}
@keyframes opAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expandNav {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

@media only screen and (max-width: 870px) {
  .main-nav-bar .banner img {
    display: none;
  }
  .main-nav-bar .banner .text-banner {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .main-nav-bar {
    justify-content: space-between;
    transition: height 0.5s ease-in-out;
    animation-name: expandNav1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes expandNav1 {
    from {
      height: 80px;
    }
    to {
      height: 70px;
    }
  }
  .main-nav-bar .banner img {
    display: flex;
    margin-right: 20px;
    width: 200px;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .main-nav-bar .banner .text-banner {
    display: none !important;
  }
  .main-nav-bar .menu {
    display: flex;
  }
  .main-nav-bar .left {
    display: none;
  }
  .main-nav-bar .right {
    display: none;
  }
  .main-nav-active {
    margin: 10px 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    flex-direction: row;
    transition: height 0.5s ease-in-out;
    animation-name: expandNavAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes expandNavAnimation {
    from {
      height: 70px;
    }
    to {
      height: 200px;
    }
  }
  .main-nav-active .user-menu {
    display: none;
  }
  .main-nav-active .user-menu-active {
    display: flex;
    flex-direction: column;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 85px;
    width: 200px;
    background-color: #FC6E5E;
    animation-name: expandNav;
    animation-duration: 0.5s;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .main-nav-active .user-menu-active a {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    animation-name: opAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  .main-nav-active .user-menu-active a:hover {
    background-color: white;
    color: #FC6E5E;
  }
  @keyframes opAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes expandNav {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: 150px;
    }
  }
  .main-nav-active .banner img {
    display: flex;
    margin-right: 20px;
    width: 200px;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .main-nav-active .banner .text-banner {
    display: none !important;
  }
  .main-nav-active .menu {
    position: absolute;
    right: 21px;
    margin: 20px 20px;
    top: 1px;
  }
  .main-nav-active .menu .btn-menu {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FC6E5E;
    color: white;
    border-radius: 10px;
    border: none;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
    transition: 0.3s;
    font-size: 20px;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .main-nav-active .menu .btn-menu:hover {
    background-color: #e36355;
    color: white;
  }
  .main-nav-active .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav-active .left ul li {
    border-bottom: solid 1px transparent;
    transition: border-bottom 0.4s ease-in-out;
  }
  .main-nav-active .left ul li:hover {
    transform: scale(1.03);
  }
  .main-nav-active .left ul li:hover a {
    color: #FC6E5E;
    padding-bottom: 4px;
  }
  .main-nav-active .left ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FC6E5E;
    transition: width 0.3s;
  }
  .main-nav-active .left ul li a:hover::after {
    width: 100%;
  }
  .main-nav-active .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav-active .right img {
    width: 30px;
    border-radius: 100%;
    border: 2px #00FF85 solid;
  }
  .main-nav-active .right ul {
    width: 60%;
    justify-content: space-evenly;
  }
  .main-nav-active .right ul li a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #FFF1EF;
    color: #FC6E5E;
    border-radius: 100%;
  }
  .main-nav-active ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .main-nav-active ul li {
    margin: 10px;
  }
  .main-nav-active ul li a,
  .main-nav-active ul li img {
    animation-name: expandLiAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes expandLiAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 500px) {
  .main-nav-active,
  .main-nav-bar,
  .container {
    margin: 10px 10px !important;
  }
  .user-menu-active {
    display: flex;
    flex-direction: column;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 85px;
    width: 200px;
    background-color: #FC6E5E;
    animation-name: expandNavmenu !important;
    animation-duration: 0.5s;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .user-menu-active a {
    color: white;
    font-size: 16px !important;
  }
  @keyframes expandNavmenu {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: max-content;
    }
  }
  .menu {
    position: absolute;
    right: 21px;
    margin: 20px 10px;
    top: 1px;
  }
  .menu .btn-menu {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FC6E5E;
    color: white;
    border-radius: 10px;
    border: none;
    animation: shake 0.8s ease-in-out;
    animation-fill-mode: forwards;
    transition: 0.3s;
    font-size: 20px;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1px);
    }
    40% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menu .btn-menu:hover {
    background-color: #e36355;
    color: white;
  }
  .main-nav-active {
    transition: height 0.5s ease-in-out;
    animation-name: expandNav;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .main-nav-active a {
    font-size: 14px;
  }
  .main-nav-bar {
    transition: height 0.5s ease-in-out;
    animation-name: expandNav1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes expandNav1 {
    from {
      height: 80px;
    }
    to {
      height: 70px;
    }
  }
}
.home {
  display: flex;
  align-items: center;
  margin: 10px 30px;
}
.home .left,
.home .right {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}
.home .left {
  flex: 1;
}
.home .right {
  flex: 3;
}
.home .right .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
}
.home .right .row .col {
  width: 100%;
  display: flex;
  align-items: center;
}
.home .right .row .search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .right .row .search-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.home .right .row .search-box form {
  width: 100%;
  display: flex;
  align-items: center;
}
.home .right .row .search-box form input {
  width: 90%;
  background-color: #FFF1EF;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  border: 2px transparent solid;
  outline: none;
  transition: 0.3s;
}
.home .right .row .search-box form input:hover, .home .right .row .search-box form input:active, .home .right .row .search-box form input:focus {
  outline: none;
  border: none;
  border: 2px #FC6E5E solid;
}
.home .right .row .search-box form button {
  width: auto;
  height: auto;
  background-color: #FC6E5E;
  color: white;
  border-radius: 10px;
  border: none;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
  transition: 0.3s;
  padding: 15px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.home .right .row .search-box form button:hover {
  background-color: #e36355;
  color: white;
}
.home .right .row .job-result h4 {
  width: 90%;
  background-color: #FFF1EF;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  border: 2px transparent solid;
  outline: none;
  transition: 0.3s;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.home .right .row .job-result h4:hover, .home .right .row .job-result h4:active, .home .right .row .job-result h4:focus {
  outline: none;
  border: none;
  border: 2px #FC6E5E solid;
}
.home .right .job-box .sub-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .right .job-box .sub-row .col {
  width: 100%;
  flex: 1;
}
.home .right .job-box .sub-row .col img {
  width: 100px;
  border-radius: 100%;
}
.home .right .job-box .sub-row .col.user-data {
  flex: 3;
}
.home .right .job-box .sub-row .col.user-data div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.home .right .job-box .sub-row .col.date {
  flex: 1;
  justify-content: center;
}
.home .right .job-box .sub-row .col.like {
  justify-content: end;
  margin: 10px;
  font-size: 40px;
}
.home .right .job-box .sub-row .col.like .like-btn {
  font-size: 40px;
  color: #FC6E5E;
  border-radius: 10px;
  border: none;
  animation: shake 0.8s ease-in-out;
  animation-fill-mode: forwards;
  transition: 0.3s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.home .right .job-box .sub-row .col.like .like-btn:hover {
  color: #e36355;
}

.main-footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.main-footer a {
  transition: 0.3s;
}
.main-footer a:hover {
  background-color: white;
  color: #FC6E5E;
}
.main-footer .top,
.main-footer .middel,
.main-footer .bottom {
  margin: 30px 10px;
}
.main-footer .top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer .top img {
  width: 30%;
}
.main-footer .middel {
  width: 50%;
}
.main-footer .middel ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-footer .bottom .col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-footer .bottom .footer-icon {
  color: #FC6E5E;
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */